.sign-in {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
}

.redux-field {
  border: none !important;
}

.forms {
  font-weight: bold;
  background-color: #2f3241;
  width: 350px;
  height: 100%;
  padding: 5px;
  border-radius: 3px;
  color: #538aef;
  text-align: center;
  box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.308);
  border: 1px solid #4d4d4d4b;
}

.forms span {
  color: white;
}

.input {
  height: 25px;
  width: 250px;
  color: #f6f6f7;
  background-color: #3c3f5273;
  font-family: "Economica", sans-serif;
  border-color: #00000027;
  text-align: center;
  transition: all 0.3s;
}

.input:focus {
  border: 1px #6a53ef91 solid;
}

.sign-in-button {
  background: none;
  color: #6a53ef;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  height: 30px;
  width: 90px;
  border-radius: 3px;
  transition: all 0.3s;
  border: 1px solid #6a53ef38;
}

.sign-in-button:hover {
  border-color: #6a53ef;
  box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.034);
}

.button {
  margin: 0 auto;
}
