body {
  margin: 0;
  padding: 0;
  font-family: "Jaldi", sans-serif;
}

a {
  user-select: none;
}

input:focus {
  outline: none;
}

.ant-table-small > .ant-table-title {
  color: #9281f5;
  font-weight: bold;
  text-align: center;
}

.ant-btn:hover,
.ant-btn:focus {
  border-color: #9281f5 !important;
  color: #9281f5 !important;
}
