.page {
  max-height: 725px;
  padding: 10px;
  margin: 30px 50px 50px 30px;
  box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.01);
  border: 1px solid #9281f5;
  min-height: 640px;
}

.page-noborder {
  max-height: 725px;
  padding: 10px;
  margin: 30px 50px 50px 30px;
  box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.01);
  min-height: 640px;
}
